{%extends "adminlayout.html"%}

{%block title%}
<title>Admin-Dashboard</title>
{%endblock%}

{%block main_content%}
<div class="container-fluid">
    <h2 class="text-center my-3 text-muted">
      Admin Dashboard
    </h2>
    <div class="row d-flex">
      <div class="col-md-6 col-xl-4 mb-4">
        <a href="/demo/order" class="text-decoration-none">
          <div class="card shadow border-0 py-2">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class="text-uppercase text-primary fw-bold text-xs mb-1 text-center">
                    <span>
                      Total Bookings
                    </span>
                  </div>
                  
                  <div class="col-auto text-center">
                    <i class="fa-regular fa-calendar-days text-success fs-1 fw-bold"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <a href="/users/" class="text-decoration-none">
          <div class="card shadow border-0 py-2 bg-warning">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class="text-uppercase text-light fw-bold text-xs mb-1 text-center">
                    <span>
                      Total Users
                    </span>
                  </div>
                 
                  <div class="col-auto text-center">
                    <i class="fas fa-users fs-1 text-danger"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <a href="/contact_us/" class="text-decoration-none">
          <div class="card shadow border-0 py-2 bg-success">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class="text-uppercase text-light fw-bold text-xs mb-1 text-center">
                    <span>
                      Contact_us
                    </span>
                  </div>
                
                  <div class="col-auto text-center">
                    <i class="fa-solid fa-phone-volume fs-1 text-warning fw-bold"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <a href="/showvehicles/" class="text-decoration-none">
          <div class="card shadow border-0 py-2 bg-danger">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class="text-uppercase text-light fw-bold text-xs mb-1 text-center">
                    <span>
                      Vehicles
                    </span>
                  </div>
                
                  <div class="col-auto text-center">
                    <i class="fa-sharp fa-solid fa-truck-fast text-primary fs-1 fw-bold"></i> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <a href="/addvehicles" class="text-decoration-none">
          <div class="card shadow border-0 py-2 bg-primary">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class="text-uppercase text-light fw-bold text-xs mb-1 text-center">
                    <span>
                      Add Vehicles
                    </span>
                  </div>
                  <div class="col-auto text-center">
                    <i class="fa-sharp fa-solid fa-truck-fast text-white fs-1 fw-bold"></i> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <a href="/addcategory" class="text-decoration-none">
          <div class="card shadow border-0 py-2 bg-dark">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class="text-uppercase text-light fw-bold text-xs mb-1 text-center">
                    <span>
                    Add  Category
                    </span>
                  </div>
                  <div class="col-auto text-center">
                    <i class="fa-solid fa-list text-info fw-bold fs-1"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
{%endblock%}

