{% extends "adminlayout.html"%}
{% load crispy_forms_tags%}
{% block title%}
<title>Users</title>
{% endblock %}

{% block main_content%}

{% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger">
        {{message}}
    </div>
    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endif %}

{% endfor %}
<h2 class="text-center">Users</h2>
<table class="table table-bordered table-secondary table-hover ">
    <tr>
        <th>Username</th>
        <th>email</th>
        <th>Is_Staff</th>
        <th>Last Login</th>
        <th>Is Active</th>
    </tr>
    {% for u in user %}
        <tr >
            <td>{{u.username}}</td>
            <td>{{u.email}}</td>
            <td>{{u.is_staff}}</td>
            <td>{{u.last_login}}</td>
            <td>{{u.is_active}}</td>
           
        </tr>
    {% endfor%}
  

</table>

{% endblock %}
